*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
	--background: #e0e5ec;
	--gray: #797d7f;
}
body{
    height: 100%;
    overflow: auto;
    font-family: arial;
    background-color: #000000d2;
}

.container-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    height: 80%;
    width: 100%;
}

.container-dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    width: 40%;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

h3{
    user-select: none;
    font-size: 30px;
    padding: 20px 10px 20px 10px;
}

.position-num-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--background);
    box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9, 8px 8px 20px #0001, 5px 5px 6px 0px #0001;
}

input.numeros{
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}

input[type=number]{
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding: 20px;
    margin: 5px 40px;
}

input[type=submit].op{
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color:#000000d2;
    margin-top: 20px;
    background-color: white;
}

input[type=submit].numeros{
    font-size: 20px;
    width: 75px;
    height: 75px;
    margin: 15px 10px;
    cursor: pointer;
    color:#000000d2;
}

input[type=submit]:active{
	color:#5c87fe;
	box-shadow: inset -4px -4px 20px #fff9, inset -5px -5px 6px #fff9, inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

input[type=reset]{
    font-size: 20px;
    width: 100px;
    height: 40px;
    margin: 5px 5px;
    cursor: pointer;
    color: #000000d2;
    background-color: #fff;
}
input[type=reset]:active{
    color:#5c87fe;
}

#res{
    padding: 10px;
    margin-top: 20px;
    margin: 5px;
    font-size: 25px;
    user-select: none;
}

.clean {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e0e5ec;
    border: none;
    margin-left: 10px;
}

.clean:hover {
    background-color: #000;
    color: #FFF;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}
.container-logo{
    margin-left: 9px;
}
/*resolução menor 768px, entra na condição da media*/
@media screen and (max-width: 768px) {
    input[type=submit].op{
        width: 70px;
        height: 40px;
        margin: 0px 2px 0px 2px;
        margin-top: 10px;
    }
    .clean{
        margin-top: 20px;
    }
    #res{
        padding: 10px;
    }
}

.op {
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

.text-white-a {
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
}

.okay {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.btn-and-input {
    margin-top: 40px;
}